body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif
}

header{
/*	position: fixed;*/
	background:  #0e0606;
	padding: 20px;
	width: 100%;
	height: 100%;

}

.left_area h3{
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;

}

.left_area span{
	color:   #d81ff3;
}

.logout_btn{
	padding: 5px;
	background:  #FF5733;
	text-decoration: none;
	float: right;
	margin-top: -30px;
	margin-right: 40px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
	transition-property: background;

}

.logout_btn:hover{
	background:  #52cf11;
}

.sidebar{
	background: #797171;
	/*margin-top: 10px;*/
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	transition: 0.5s;
	transition-property: left;
}

.sidebar .profile_image{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-bottom: 10px;

}

.sidebar h4{
	color:  #fc6d0b;
	margin-top: 0;
	margin-bottom: 20px;
}

.sidebar a{
	color: #fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar a:hover{
	background:  #f88a3f;
}

.sidebar i{
	padding-right: 10px;
}

label #siderbar_btn{
	z-index: 1;
	color:  #f57a26;
	/*position: fixed;*/
	cursor: pointer;
	/*left: 300px;*/
	font-size: 20px;
	margin: 5px 200px;
	transition: 0.2s;
	transition-property: color;
}

label #siderbar_btn:hover{
	color:  #33ff57;

}

#check:checked ~ .sidebar{
	left: -190px;
}

#check:checked ~ .sidebar a span{
	display: none;
}

#check:checked ~.sidebar a{
	font-size: 20px;
	margin-left: 170px;
	width: 80px;
}

.card-deck{
	position: center;
	padding-top: 300px;
	margin-left: 500px;
	height: 100vh;
}


